* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px red solid; */
}
/* Reset */

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}

/* navbar */

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 85px;

    color: white;
    background-color: #222222;
}

nav > div, ul {
    display: flex;
}

nav .opzioni li {
    list-style: none;
}
/* fine navbar */



/* Main */
main {
    padding-top: 90px;
    padding-inline: 80px;

    background-color: black;
}

#webcam {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 6px;
}

#webcam .col {
    width: calc(100% / 7 - 6px / 7 * 6);
}

#webcam .col .col-inner {
    position: relative;

    width: 100%;
    height: 100%;
}

/* #webcam .col .col-image {
    height: 150px;
    width: 250px;
} */

#webcam .col .col-image img {
    height: 150px;
    width: 250px;
    object-fit: cover;
}

#webcam .col .col-inner .tag {
    display: flex;
    position: absolute;
    bottom: 0px;

    padding: 5px 10px;

    color: white;

    background-color: black;
}
/* FIne main */